# Ignore everything
/*

# But don't ignore these directories
!/.gitignore
!/nvim/
!/waybar/
!/waypaper/
!/hypr/
!/kitty/
!/neofetch/

# Don't ignore the contents of these directories
!/.gitignore
!/nvim/**
!/waybar/**
!/waypaper/**
!/hypr/**
!/kitty/**
!/neofetch/**
