* {
    border: none;
    font-family: "FiraCode Nerd Font";  
    font-weight: normal;
}

window#waybar {
  background-clip: padding-box;
}

#waybar {
  background: rgba(36, 39, 58, 0.7);
}

#workspaces button {
  font-size: 30px;
}


/* Workspace 1 - Spotify Green */
#workspaces button:nth-child(1) {
    color: #A6DA95;  /* Spotify green */
}

/* Workspace 2 - Royal Blue */
#workspaces button:nth-child(2) {
    color: #8BD5CA;  /* Royal blue */
}

/* Workspace 3 - Yellow */
#workspaces button:nth-child(3) {
    color: #EED49F;  /* Gold/yellow */
}

/* Workspace 4 - YouTube Red */
#workspaces button:nth-child(4) {
    color: #ED8796;  /* YouTube red */
}

/* Workspace 5 - Purple */
#workspaces button:nth-child(5) {
    color: #F5BDE6;  /* Medium purple */
}

#workspaces button.active {
}

.modules-left {
  margin-top: 30px;
  font-size: 30px;
  color: #8AADF4;
}

.modules-center {
  min-width: 60px;
  padding-right: 8px;
}

.modules-right {
  margin-bottom: 10px;
  font-size: 30px;
}

#battery {
  font-size: 18px;
  color: #B8C0E0;
}

#pulseaudio{
  font-size: 30px;
  color: #B8C0E0;
}

#network{
  padding-left: 8px;
  font-size: 30px;
  color: #8AADF4;
}

#cpu{
  font-size:20px;
  color: #B8C0E0;
} 

#hyprland-workspaces {
  padding: 10px;
}



