* {
    border: none;
    font-size: 24px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF";
    font-weight: normal;
}

window#waybar {
  background: rgba(0, 0, 0, 0.2);
}

.modules-left {
  border-radius: 15px 15px 15px 15px;
  margin-top: 2px;
  padding: 15px 5px;
  min-height: 150px;
}

.modules-center {
  padding: 0 0;
  margin-top: 2px;
  border-radius: 15px 15px 15px 15px;
}

.modules-right {
  padding-left: 5px;
  border-radius: 15px 15px 15px 15px;
  margin-top: 2px;
}

/* Optional: Add spacing or different colors */
#custom-hour-tens {
  color: #FFFFFF;
}

#custom-hour-ones {
  color: #FFFFFF;
}

#custom-minute-tens {
  color: #FFFFFF;
  margin-top: 10px; /* Add space between hours and minutes */
}

#custom-minute-ones {
  color: #FFFFFF;
}

#hyprland-workspaces {
  padding: 10px;
}

