* {
    border: none;
    font-family: "FiraCode Nerd Font";  
    font-weight: normal;
}

window#waybar {
  border: 5px solid transparent;
  background-clip: padding-box;
}

#waybar {
  background: rgba(0, 0, 0, 0.3);
  margin: 5px 5px 5px 0px;
  border-radius: 15px 15px 15px 15px;
}

#workspaces button {
  font-size: 30px;
}


/* Workspace 1 - Spotify Green */
#workspaces button:nth-child(1) {
    color: #1DB954;  /* Spotify green */
}

/* Workspace 2 - Royal Blue */
#workspaces button:nth-child(2) {
    color: #4169E1;  /* Royal blue */
}

/* Workspace 3 - Yellow */
#workspaces button:nth-child(3) {
    color: #FFD700;  /* Gold/yellow */
}

/* Workspace 4 - YouTube Red */
#workspaces button:nth-child(4) {
    color: #FF0000;  /* YouTube red */
}

/* Workspace 5 - Purple */
#workspaces button:nth-child(5) {
    color: #9370DB;  /* Medium purple */
}

#workspaces button.active {
}

.modules-left {
  margin-top: 30px;
  font-size: 30px;
}

.modules-center {
  min-width: 60px;
}

.modules-right {
  font-size: 30px;
}

#battery {
  font-size: 18px;
}

#hyprland-workspaces {
  padding: 10px;
}

