* {
    border: none;
    font-size: 24px;
    font-family: "FiraCode Nerd Font";  
    font-weight: normal;
}

window#waybar {
  border: 5px solid transparent;
  background-clip: padding-box;
}
#waybar {
  background: rgba(0, 0, 0, 0.3);
  margin: 5px 5px 5px 0px;
  border-radius: 15px 15px 15px 15px;
}

.modules-left {
  margin-top: 10px;
}

.modules-center {
}

.modules-right {
}

#battery {
  font-size: 18px;
}

#hyprland-workspaces {
  padding: 10px;
}

