window {
    margin: 0px;
    border-right: 2px solid #8AADF4;
    border-radius: 0px;
    background-color: rgba(36, 39, 58, 0.7);
    font-family: "JetBrains Mono", "Fira Code", monospace;
    font-size: 16px;
}

#input {
    margin: 15px;
    padding: 10px;
    border-radius: 0px;
    border: none;
    color: #f8f8f2;
    background-color: #44475a;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #f8f8f2;
}

#entry {
    margin: 5px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
}

#entry:selected {
    background-color: #44475a;
    border-radius: 0px;
    border: none;
}
